<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/book?useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="hrj"/>
    </bean>

    <!--创建SqlSessionFactory SqlSessionFactoryBean-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 指定实体类所在的包 -->
        <property name="typeAliasesPackage" value="com.jun.entity"/>
        <!--指定配置文件（映射文件）的路径，还有通用配置-->
        <property name="mapperLocations">
            <list>
                <!--classpath是Spring内置的一个关键字，它代表的是src-->
                <value>classpath:com.jun.mapper/*Mapper.xml</value>
            </list>
        </property>
    </bean>

    <!--创建DAO对象 MapperScannerConfigure-->
    <bean id="scanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
        <!--指定DAO接口放置的包-->
        <property name="basePackage" value="com.jun.dao"/>
    </bean>

    <!--Spring控制事务-->
    <bean id="userService" class="com.jun.transaction.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
    </bean>
    <!--DataSourceTransactionManager-->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>
</beans>
